@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Roboto&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #070707;
    height: 60px;
    border-bottom: #383838 solid 1px;
}

.navbar h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.nav-list {
    display: flex;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
}